node_modules/
.env
.env.*
!.env.example
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/uploads/generated/*
!public/uploads/generated/.gitkeep
public/uploads/files/*
!public/uploads/files/.gitkeep
public/uploads/images/*
!public/uploads/images/.gitkeep
public/uploads/docs/*
!public/uploads/docs/.gitkeep
.freebuff/
